.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.hero .foto-hero {
  width: 195px;
  height: 195px;
  border-radius: 50%;
  border: 1px solid var(--skyblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .foto-hero img {
  width: 175px;
  border-radius: 50%;
}

.hero .descripciones-hero {
  color: white;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8;
}

.hero .descripciones-hero h2 {
  font-size: 24px;
}

.hero .descripciones-hero h3 {
  margin-bottom: 5px;
}

.hero .descripciones-hero .location {
  display: inline-block;
  background-image: url("../../assets/icons/location.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.hero .social {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 650px;
  margin-top: 20px;
}
